# pip install -r requirements.txt


Django>=1.7a2, <1.8
django-pipeline>=1.3, <1.4
cssmin # required by django-pipeline
jsmin  # required by django-pipeline
Markdown
django-simple-captcha
git+https://github.com/alex/django-taggit.git
