html,
body {
	background: #E6E6E6;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;;
}

a,
a:link,
a:visited {
	text-decoration: none;
    color: #6DA3BD;
}

a:hover,
a:active {
    color: #53798b;
	text-decoration: underline;
}

.right {
	float: right;
}
.left {
	float: left;
}


.page {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    font-weight: 400;
    color: #37474E;
    background: #FBFBFB;
}

h1.title {
    margin: 0;
    padding: 0;
}


/*// Small screens*/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
    .qrcode {
        display: none !important;
    }
} 

/*// Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
    .container {
        margin: 0 0.625em;
    }
    .page {
        margin-top: 0.625em;
        margin-bottom: 0.625em;
        padding: 1em 1.5em;
        border: 0.0625em solid #C3CCD0;
        overflow: hidden;
        text-align: justify;

        border-radius: 0.125em;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.15), inset 0 0 0 0.0625em #FFF;
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
    .container {
        padding-left: 0.625em;
        padding-right: 0.625em;
        margin-left: auto;
        margin-right: auto;
        max-width: 64em;
    }
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/*// XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}

/*// XXLarge screens*/
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
}
