html {
	display: block;
	min-width: 100%;
	min-height: 100%;
}


.vcard {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0.625em;
	margin-top: -4em;
	margin-left: -10em;
	min-height: 10em;
	color: #333;
	background: #FFF;
	border: 0.0625em solid rgba(0, 0, 0, 0.5);

	box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.vcard:before,
.vcard:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;

	box-shadow: 0 15px 0.625em rgba(0, 0, 0, 0.5);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.vcard:after {
	right: 10px;
	left: auto;

	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}


.vcard h1 {
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	color: #111;
}

.profiles {
	display: block;
	margin: 0.125em -0.625em;
	padding: 0.625em;
	min-width: 36px;
	min-height: 36px;
	list-style-type: none;
	background: rgba(0, 0, 0, 0.2);
}

/* Font icons */
.icon-mail:before,
.icon-phone:before,
.icon-earth:before,
.icon-location:before {
	color: #222;
	text-shadow: 0 0 1px #FFF;
}
.profiles [data-icon]:before {
	font-size: 2.25em;
}
.profile:before {
	color: #333;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.profile {
	display: inline-block;
	margin-right: 0.75em;
	padding: 0.375em;
	border: 0.0625em solid rgba(0, 0, 0, 0.5);

	border-radius: 0.22em;
	box-shadow: inset 0 0 0 0.0625em rgba(255, 255, 255, 0.25);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile:hover {
	text-decoration: none;

	box-shadow: inset 0 0 0 0.0625em rgba(255, 255, 255, 0.25), 0 0 0 0.25em rgba(255, 255, 255, 0.8);
}
.profile:active {
	text-decoration: none;

	box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.8), inset 0 0 0.625em rgba(0, 0, 0, 0.5);
}

.profile.last {
	margin-right: 0;
}

.profile.googleplus {
	background-image: -webkit-linear-gradient(#D32, #C21);
	background-image: linear-gradient(#D32, #C21);
}
.profile.linkedin {
	background-image: -webkit-linear-gradient(#38B, #27A);
	background-image: linear-gradient(#38B, #27A);
}
.profile.github {
	background-image: -webkit-linear-gradient(#EEE, #CCC);
	background-image: linear-gradient(#EEE, #DDD);
}
.profile.stackoverflow {
	background-image: -webkit-linear-gradient(#E82, #D61);
	background-image: linear-gradient(#E82, #D61);
}
.profile.twitter {
	background-image: -webkit-linear-gradient(#47BEE6, #00A6D3);
	background-image: linear-gradient(#47BEE6, #00A6D3);
}


.footer {
	display: block;
	padding-top: 0.225em;
}

.footer,
.footer a {
	color: #555;
}

.footer a:hover {
	color: #110;
}

.footer .line {
	padding-top: 0.125em;
	font-size: 0.875em;
}

/* Icons fix */
[class^="icon-"]:before, [class*=" icon-"]:before {
	padding-right: 0.25em;
	text-decoration: none !important;
}


.qrcode {
	position: absolute;
	display: block;
	padding: 5px;
	right: 0.5em;
	bottom: 0.5em;
	border: 1px solid #666;
	background: #FFF;

	box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}
