.articles_list img,
.article_detail img {
    float: left;
    padding: 0 0.25em 0.0125em 0;
}

.article_detail h1.title {
    font-size: 2em;
}

.article_detail blockquote {
    margin-left: 2em;
    margin-right: 0;
}

.article_detail blockquote:before {
    content: '“';
    position: relative;
    margin-left: -0.5em;
    float: left;
    font-size: 2em;
    color: #AAA;
}

/*.article_detail blockquote:after {
    content: '”';
}*/

.article_detail code {
    padding: 0 0.125em;
    border: 1px solid #CCC;
    background: #F2F2F2;
    border-radius: 0.125em;
}

.article_detail pre {
    padding: 0.125em 0.25em;
    border: 1px solid #CCC;
    background: #F2F2F2;
    border-radius: 0.125em;
}

.article_detail pre > code {
    padding: 0;
    border: 0;
}

.article_detail {
    line-height: 1.25em;
}

/* little fix */
.articles_list article .description p {
    margin-top: 0.125em;
}


/*// Small screens*/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
} 

/*// Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
    .articles_list > article {
        float: left;
        width: 50%;

        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .articles_list > article:nth-child(even) {
        padding-left: 0.5em;
        clear: right;
    }

    .articles_list > article:nth-child(odd) {
        padding-right: 0.5em;
        clear: left;
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/*// XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}

/*// XXLarge screens*/
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
}
