.articles_list .tags {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

.articles_list .tags li {
    display: inline-block;
    margin: 0.125em 0.125em 0.125em 0;
}

.articles_list .tags li a {
    display: inline-block;
    padding: 0.125em 0.5em;
    color: #FFF;
    background: #C0C8CD;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    border-radius: 0.25em;
}

.articles_list .tags a:hover {
    background: #B8BCC4;
}

/*// Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (max-width: 40em) {
    .article_detail .tags {
        margin: 0;
        padding: 0;
        text-align: left;
        list-style-type: none;
    }

    .article_detail .tags li {
        display: inline-block;
        margin: 0.125em 0;
    }

    .article_detail .tags li a {
        display: inline-block;
        padding: 0.125em 0.5em;
        color: #FFF;
        background: #C0C8CD;
        text-decoration: none;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
        border-radius: 0.25em;
    }

    .article_detail .tags a:hover {
        background: #B8BCC4;
    }
}

/* big screen */
@media only screen and (min-width: 40.063em) {
    .article_detail .tags {
        float: right;
        margin: 0;
        margin-top: -2em; /* based on title font size */
        padding: 0;
        text-align: right;
        list-style-type: none;
    }

    .article_detail .tags a,
    .article_detail .tags a:visited {
        color: #FFF;
        text-decoration: none;
    }

    .article_detail .tags a {
        position: relative;
        display: inline-block;
        margin: 0 -1em 0.5em 0;
        padding: 0 0.75em 0 1.25em;
        line-height: 1.5em;
        font-weight: bold;
        background: #C0C8CD;
        text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.75);
    }

    .article_detail .tags a:hover {
        background: #B8BCC4;
    }

    .article_detail .tags a:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -2px;
        top: 0px;
        border: 0.75em solid transparent; /* .tags a{line-height/2} */
        border-color: transparent transparent transparent #FBFBFB; /* page bg */
    }

    .article_detail .tags a {
        margin-right: -1.5em;
    }
}
