{% extends "base.html" %}
{% load i18n compressed markup %}


{% block title %}{{ article.title|title }} — {{ block.super }}{% endblock title %}

{% block head %}
    {{ block.super }}
    {% compressed_css 'articles' %}
    {% compressed_js 'articles' %}
    {% compressed_css 'hilightjs' %}
    {% compressed_js 'hilightjs' %}
{% endblock head %}

{% block content %}
<section class="container">
    <article class="page article">
        <h1 class="title">{{ article.title }}</h1>
        <ul class="tags">
        {% for tag in article.tags.all %}
            <li><a href="{% url 'articles:tagged' tag %}">{{ tag.name }}<span>{{ tag.count }}</span></a></li>
        {% endfor %}
        </ul>
        {{ article.content|markdown }}
    </article>
</section>
{% endblock content %}
