{% extends "base.html" %}
{% load i18n compressed markup %}


{% block title %}{% trans "Articles" %} — {{ block.super }}{% endblock title %}

{% block head %}
    {{ block.super }}
    {% compressed_css 'articles' %}
    {% compressed_js 'articles' %}
{% endblock head %}

{% block content %}
    <section class="page articles_list">
        {% for a in articles %}
        <article>
            <h1 class="title"><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></h1>
            <ul class="tags">
            {% for tag in a.tags.all %}
                <li><a href="{% url 'articles:tagged' tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
            </ul>
            <section class="description">
                {{ a.description|truncatewords:"40"|markdown }}
            </section>
        </article>
        {% empty %}
        <p>{% trans "Sorry. Articles don't exist." %}</p>
        {% endfor %}

        {% include "pagination.html" %}
    </section>
{% endblock content %}
