{% extends "base.html" %}
{% load i18n compressed markup %}


{% block title %}{% trans "Articles" %} — {{ block.super }}{% endblock title %}

{% block head %}
    {{ block.super }}
    {% compressed_css 'articles' %}
    {% compressed_js 'articles' %}
{% endblock head %}

{% block content %}
<section class="container page articles_list">
    {% for a in articles %}
    <article>
        <h1><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></h1>
        <section class="description">
            {{ a.content|truncatewords:"40"|markdown }}
        </section>
    </article>
    {% empty %}
    <p>{% trans "Sorry. Articles don't exist." %}</p>
    {% endfor %}

    {% include "pagination.html" %}
</section>
{% endblock content %}
