{% load i18n staticfiles urls %}
<div class="top-nav-wrap">
  <div class="container">
    <nav class="top-menu">
      <a class="{% url_active 'about' %}" href="{% url 'about' %}">{% trans "About me" %}</a>
      <a class="{% url_active 'articles:list' False %}" href="{% url 'articles:list' %}">{% trans "Articles" %}</a>
      <a class="home {% url_active 'vcard' %}" href="/" data-icon="&#xE602;"></a>
      <a class="disabled" href="#">{% trans "Projects" %}</a>
      <a class="{% url_active 'contacts:home' False %}" href="{% url 'contacts:home' %}">{% trans "Contact" %}</a>
    </nav>
  </div>
</div>
